<%- include('./partials/header.ejs')  %>

<main class="page-product">
  
  <div class="prod_categories">
    <ul class="products">
      <% const categories = ['Burritos', 'Poulet', 'Boisson', 'Accompagnement', 'Enfant', 'Dessert']; %>
      <% categories.forEach(category => { %>
        <li class="product">
          <button data-translate="products.<%= category.toLowerCase() %>">
            <%= category %>
          </button>
        </li>
      <% }); %>
    </ul>
  </div>

  <!-- Affichage des produits en fonction de la catégorie -->
  <% categories.forEach(category => { %>
    <section id="<%= category.toLowerCase() %>" class="category <%= category.toLowerCase() %>">
      <h1 class="<%= category.toLowerCase() %>_title" data-translate="products.<%= category.toLowerCase() %>">
        <%= category %>
      </h1>

      <div class="articles">
        <% const categoryProducts = products.filter(product => product.category && product.category.toLowerCase() === category.toLowerCase()); %>
        <% if (categoryProducts.length > 0) { %>
          <% categoryProducts.forEach(product => { %>
            <article class="article <%= product.category.toLowerCase() %>">
              <img src="<%= product.image %>" alt="<%= product.name %>" />
              <p class="art_name">
                <%= product.name %><span>€ <%= parseFloat(product.price).toFixed(2) %></span>
              </p>
              <details class="details">
                <summary>Description</summary>
                <p><%= product.description %></p>
              </details>
              <button class="add-to-cart" data-id="<%= product.id %>" data-name="<%= product.name %>" data-price="<%= product.price %>">
                Ajouter au panier
              </button>
            </article>
          <% }) %>
        <% } else { %>
          <p>Aucun produit disponible.</p>
        <% } %>
      </div>
    </section>
  <% }); %>

</main>

<%- include('./partials/footer.ejs')  %>
